* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

main {
  width: 100%; }
  main header {
    width: 100%; }
    main header .inner {
      width: 1180px;
      margin: 0 auto;
      display: flex; }
      main header .inner div {
        border: 1px solid #ddd;
        width: 25%;
        height: 70px;
        padding: 0px 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end; }
      main header .inner .first {
        justify-content: center; }
        main header .inner .first h1 {
          font-size: 18px; }
      main header .inner .second {
        width: 50%; }
        main header .inner .second ul::after {
          content: '';
          display: block;
          clear: both; }
        main header .inner .second ul li {
          margin-left: 40px;
          float: left; }
          main header .inner .second ul li a {
            font-size: 18px;
            color: #bbb; }
      main header .inner .third {
        text-align: right; }
        main header .inner .third i {
          font-size: 25px;
          color: #ddd; }
  main section {
    width: 100%; }
    main section > .inner {
      width: 1180px;
      margin: 0 auto; }
      main section > .inner .item-sizer {
        width: 25%;
        height: 0px;
        opacity: 0; }
      main section > .inner::after {
        content: '';
        display: block;
        clear: both; }
      main section > .inner .item {
        width: 25%;
        height: 250px;
        padding: 10px;
        float: left;
        border: 1px solid #ddd; }
        main section > .inner .item > .inner {
          height: 100%; }
        main section > .inner .item:nth-of-type(1) .inner {
          display: flex;
          justify-content: center;
          align-items: center; }
          main section > .inner .item:nth-of-type(1) .inner .box {
            width: 50px;
            height: 50px;
            border: 1px solid #222;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center; }
            main section > .inner .item:nth-of-type(1) .inner .box p {
              font-size: 20px; }
        main section > .inner .item:nth-of-type(2) .inner {
          display: flex;
          align-items: flex-end; }
          main section > .inner .item:nth-of-type(2) .inner span {
            font-size: 15px; }
        main section > .inner .item:nth-of-type(4) .inner video {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: grayscale(0.5); }
        main section > .inner .item:nth-of-type(5) .inner {
          background: url(../img/small2.jpg);
          background-size: cover;
          filter: grayscale(0.2); }
        main section > .inner .item:nth-of-type(6) {
          width: 50%; }
          main section > .inner .item:nth-of-type(6) .inner h2 {
            font-size: 40px;
            letter-spacing: 1.4px; }
            main section > .inner .item:nth-of-type(6) .inner h2 span {
              font-style: italic;
              font-size: 36px; }
        main section > .inner .item:nth-of-type(8) .inner h2 {
          font-size: 20px;
          margin-bottom: 20px; }
        main section > .inner .item:nth-of-type(8) .inner p {
          font-size: 15px;
          line-height: 1.4; }
        main section > .inner .item:nth-of-type(10) {
          width: 50%; }
          main section > .inner .item:nth-of-type(10) .inner {
            position: relative;
            overflow: hidden; }
            main section > .inner .item:nth-of-type(10) .inner .circle {
              position: absolute;
              top: 0px;
              left: 0px;
              z-index: 0;
              width: 80px;
              height: 80px;
              background-color: rgba(0, 0, 0, 0.4);
              border-radius: 50%;
              opacity: 0; }
              main section > .inner .item:nth-of-type(10) .inner .circle a {
                font-size: 20px;
                color: #eee;
                text-align: center;
                position: relative;
                line-height: 80px; }
            main section > .inner .item:nth-of-type(10) .inner a {
              display: block;
              width: 100%;
              height: 100%; }
              main section > .inner .item:nth-of-type(10) .inner a img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: grayscale(0.4);
                transition: 0.5s;
                position: relative; }
            main section > .inner .item:nth-of-type(10) .inner:hover img {
              filter: grayscale(0); }
        main section > .inner .item:nth-of-type(11) .inner {
          position: relative;
          display: flex;
          justify-content: flex-end; }
          main section > .inner .item:nth-of-type(11) .inner .txt {
            position: relative;
            top: 20px;
            right: -10px;
            height: 50px;
            transform: rotate(-90deg); }
            main section > .inner .item:nth-of-type(11) .inner .txt span {
              font-size: 14px;
              color: #222; }
            main section > .inner .item:nth-of-type(11) .inner .txt p {
              font-size: 15px;
              color: #222; }
        main section > .inner .item:nth-of-type(12) .inner {
          position: relative;
          overflow: hidden; }
          main section > .inner .item:nth-of-type(12) .inner img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(0.2); }
          main section > .inner .item:nth-of-type(12) .inner .box {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.6);
            display: flex;
            align-items: center;
            opacity: 0;
            margin-left: -100%;
            transition: 1s; }
            main section > .inner .item:nth-of-type(12) .inner .box .txt {
              width: 80%;
              margin: 0 auto;
              border-top: 1px solid #fff;
              border-bottom: 1px solid #fff;
              padding: 20px 0px;
              text-align: center; }
              main section > .inner .item:nth-of-type(12) .inner .box .txt p {
                font-size: 15px;
                margin-bottom: 20px;
                font-size: 15px;
                color: #fff; }
              main section > .inner .item:nth-of-type(12) .inner .box .txt a {
                display: inline-block;
                width: 80px;
                height: 36px;
                border: 1px solid #eee;
                font-size: 12px;
                line-height: 36px;
                color: #fff;
                text-align: center; }
          main section > .inner .item:nth-of-type(12) .inner:hover .box {
            opacity: 1;
            margin-left: 0; }
        main section > .inner .item:nth-of-type(13) .inner {
          display: flex;
          flex-wrap: wrap;
          align-content: flex-end; }
          main section > .inner .item:nth-of-type(13) .inner h2 {
            width: 100%;
            font-size: 20px;
            color: #222; }
          main section > .inner .item:nth-of-type(13) .inner p {
            width: 100%;
            font-size: 15px;
            color: #888; }
        main section > .inner .item:nth-of-type(15) {
          width: 50%; }
          main section > .inner .item:nth-of-type(15) .inner img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: center bottom; }
        main section > .inner .item:nth-of-type(16) .inner {
          background: url(../img/s2.jpg);
          background-position: -20px 520px;
          position: relative;
          overflow: hidden;
          filter: grayscale(0.2); }
          main section > .inner .item:nth-of-type(16) .inner .box {
            width: 100%;
            height: 100%;
            padding: 30px;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.4);
            opacity: 1; }
            main section > .inner .item:nth-of-type(16) .inner .box .txt {
              width: 100%;
              height: 100%;
              padding: 30px;
              border: 1px solid #fff;
              display: flex;
              flex-wrap: wrap;
              justify-content: flex-end;
              align-content: space-between; }
              main section > .inner .item:nth-of-type(16) .inner .box .txt p {
                width: 100%;
                font-size: 20px;
                color: #fff; }
              main section > .inner .item:nth-of-type(16) .inner .box .txt i {
                display: block;
                font-size: 50px;
                color: #fff;
                transform: translateX(-20px);
                transition: 0.5s; }
          main section > .inner .item:nth-of-type(16) .inner:hover .box .txt i {
            transform: translateX(0px); }
        main section > .inner .item:nth-of-type(17) .inner {
          background: url(../img/small.jpg);
          padding: 30px; }
          main section > .inner .item:nth-of-type(17) .inner .box {
            width: 100%;
            height: 100%;
            background: #f5f5f5;
            display: flex;
            justify-content: center;
            align-items: center; }
            main section > .inner .item:nth-of-type(17) .inner .box h2 {
              font-size: 20px;
              color: #444; }

@media screen and (max-width: 1179px) {
  main header .inner {
    width: 100%; }
  main section > .inner {
    width: 100%; }
    main section > .inner .item {
      width: 25%; }
      main section > .inner .item:nth-of-type(4) {
        width: 50%; }
      main section > .inner .item:nth-of-type(6) .inner h2 {
        font-size: 30px;
        letter-spacing: 1.4px; }
        main section > .inner .item:nth-of-type(6) .inner h2 span {
          font-style: italic;
          font-size: 26px; }
      main section > .inner .item:nth-of-type(8) {
        width: 50%; }
      main section > .inner .item:nth-of-type(16) {
        width: 50%; }
      main section > .inner .item:nth-of-type(17) {
        width: 50%; } }
@media screen and (max-width: 539px) {
  main header .inner div {
    border: 1px solid #ddd;
    width: 25%;
    height: 50px;
    padding: 0px; }
  main header .inner .first {
    display: flex;
    justify-content: center;
    align-items: center; }
    main header .inner .first h1 {
      font-size: 18px; }
  main header .inner .second {
    width: 60%;
    padding-right: 20px; }
    main header .inner .second ul li {
      margin-left: 20px; }
      main header .inner .second ul li a {
        font-size: 15px;
        color: #bbb; }
  main header .inner .third {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center; }
    main header .inner .third i {
      font-size: 20px;
      color: #ddd; }
  main section .inner .item:nth-of-type(1) {
    width: 50%;
    height: 125px; }
  main section .inner .item:nth-of-type(2) {
    width: 50%;
    height: 125px; }
  main section .inner .item:nth-of-type(3) {
    width: 25%;
    height: 250px; }
  main section .inner .item:nth-of-type(4) {
    width: 75%; }
  main section .inner .item:nth-of-type(5) {
    width: 50%; }
  main section .inner .item:nth-of-type(6) {
    width: 50%; }
    main section .inner .item:nth-of-type(6) .inner h2 {
      font-size: 25px; }
  main section .inner .item:nth-of-type(7) {
    width: 25%;
    height: 125px; }
  main section .inner .item:nth-of-type(8) {
    width: 75%; }
  main section .inner .item:nth-of-type(9) {
    width: 25%;
    height: 125px;
    background-color: #f5f5f5; }
  main section .inner .item:nth-of-type(10) {
    width: 75%; }
  main section .inner .item:nth-of-type(11) {
    width: 25%; }
    main section .inner .item:nth-of-type(11) .inner p {
      width: 80px; }
  main section .inner .item:nth-of-type(12) {
    width: 100%; }
  main section .inner .item:nth-of-type(13) {
    width: 25%; }
    main section .inner .item:nth-of-type(13) .inner h2 {
      font-size: 16px;
      margin-bottom: 10px; }
    main section .inner .item:nth-of-type(13) .inner p {
      font-size: 14px; }
  main section .inner .item:nth-of-type(14) {
    width: 25%; }
  main section .inner .item:nth-of-type(15) {
    width: 50%; }
  main section .inner .item:nth-of-type(16) .inner .box, main section .inner .item:nth-of-type(17) .inner .box {
    padding: 30px 18px; }
    main section .inner .item:nth-of-type(16) .inner .box h2, main section .inner .item:nth-of-type(17) .inner .box h2 {
      font-size: 15px; } }

/*# sourceMappingURL=style.css.map */
